*

!src

!.chainlit
!db/.gitkeep
!public
!scripts
!tests
!wiki/.gitkeep
!.env.example
!.gitignore
!.justfile
!.python-version
!.chainlit.md
!Containerfile
!pyproject.toml
!README.md
!start.sh
!uv.lock